
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href='mailto: insatoure3@gmail.com'>
									Insa TOURE
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="mailto:insatoure3@gmail.com">Insa TOURE</a> 
					</div>				
				</div>
            </footer>
            