{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Caracteristique des tests panification</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Caracteristique des tests panification</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Ajout</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Ajouter les Caracteristiques des tests panification </div>
						</div>
						<div class="card-body">
							<form method="post">
								{% csrf_token %}
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="panif">Test de panification</label>
										<select required name="panif" id="panif" class="form-control" placeholder="Choisir un panification">
											<option> choisir un panification</option>
											{% for panification in panifications %}
												<option value="{{panification.num_test}}">{{panification.num_test}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								
							
								<div id="wrapper">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="nom_parametre-1">#1 Parametre</label>
											<select required name="nom_parametre" id="nom_parametre-1" class="form-control" placeholder="Choisir un parametre">
												<option> choisir un parametre</option>
												{% for parametre in parametres %}
													<option value="{{parametre.nom_parametre}}">{{forloop.counter}}.{{parametre.nom_parametre}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="valeur-1">Valeur</label>
											<input type="number" required  name="valeur" id="valeur-1" step="0.01" onchange='handleChangeSingleArticle(this.id)' class="form-control" placeholder="Masse de l'ingredient(g)">
										</div>
									</div>
								</div>
								<div>
									<button type="submit" class="btn btn-success">Enregistrer</button>
									<button type="reset" class="btn btn-danger">Annuler</button>
								</div>
							</form>
							<br>
							<div class="card-action">
						   	<div class="row justify-content-between">
								<button id="btn-add" class="btn btn-outline-warning col-3">Ajouter une nouvelle ligne</button>
								<button id="btn-remove" class="btn btn-outline-danger col-3">Retirer une ligne</button>
							</div>	
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">

	// click to ajout un nouveau
	
	$(document).on('click', '#btn-add',function(){
		var number = $('#wrapper').children().length + 1;
	
		let formAdd = 				`<div class="form-row">
										<div class="form-group col-md-6">
											<label for="nom_parametre-${number}">#${number} Parametre</label>
											<select required name="nom_parametre" id="nom_parametre-${number}" class="form-control" placeholder="Choisir un parametre">
												<option> choisir un parametre</option>
												{% for parametre in parametres %}
													<option value="{{parametre.nom_parametre}}">{{forloop.counter}}.{{parametre.nom_parametre}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="valeur-${number}">Valeur</label>
											<input type="number" required  name="valeur" id="valeur-${number}" step="0.01" onchange='handleChangeSingleArticle(this.id)' class="form-control" placeholder="Masse de l'ingredient(g)">
										</div>
									</div>`;
		$('#wrapper:last').append(formAdd);
	})
	
	// click to remove la derniere article
	$(document).on('click', '#btn-remove', function(){
        $("#wrapper").children().last().remove();
    })
	
	</script>

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
