{% extends "layouts/base.html" %}

{% block title %} Test de panification {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<h3>Test de panification</h3><br><br><br>
	<div class="row justify-content-center align-items-center mb-1">
		<div class="col-md-7 pl-md-0 pr-md-0">
			<div class="card card-pricing card-pricing-focus card-primary">
				<div class="card-header">
					<h4 class="card-title">Test de panification</h4>
					
				</div>
				<div class="card-body">
					<ul class="specification-list">
						<li>
							<span class="name-specification">Numero de test</span>
							<span class="status-specification">{{panification.num_test}}</span>
						</li>
						<li>
							<span class="name-specification">Technique de panification</span>
							<span class="status-specification">{{panification.technique.nom_tech}}</span>
						</li>
						<li>
							<span class="name-specification">Levain</span>
							<span class="status-specification">{{panification.levain.code_levain}}</span>
						</li>
						<li>
							<span class="name-specification">Date</span>
							<span class="status-specification">{{panification.date_panification}}</span>
						</li>
						<li>
							<span class="name-specification">N°Répétition</span>
							<span class="status-specification">{{panification.num_repetition}}</span>
						</li>
						<li>
							<span class="name-specification">Apport(%)</span>
							<span class="status-specification">{{panification.apport}}</span>
						</li>
					</ul>

					<div class="card-sub">
						Composition du Test de panification
					</div>
					<div class="table-responsive">
						<table id="add-row" class="display table table-striped table-hover" >
							<thead>
								<tr>
									{% for column in col %}
									<th>{{ column }}</th>
									{% endfor %}
									
								</tr>
							</thead>
							<tbody id="table_panification">
									{% if liste %}
									<tr>
									{% for value in liste %}
										<td>{{ value }}</td>
									{% endfor %}
									
									</tr>
									{% endif %}
								
							</tbody>
						</table>
					</div>

					<div class="card-sub">
						Caracteristiques  du Test de panification
					</div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									{% for column in colcarac %}
									<th>{{ column }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody id="table_panification">
								{% if listecarac %}
								<tr>
								{% for value in listecarac %}
									<td>{{ value }}</td>
								{% endfor %}
								</tr>
								{% endif %}
						</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer">
					<a href="{% url '/panificationpdf.html' pk=panification.num_test %}"  class="btn btn-light btn-block" >
						Exporter
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	
{% endblock javascripts %}
